body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listWrapper {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.formWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.app {

  /* Medium Devices, Desktops */
  @media screen and (min-width : 950px) {
    [class*="col-"] {
    width: 50%;
    background-color: pink;
  }}

  @media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }    
}